<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" href="/stylesheets/feed.css">
    <link rel="website icon"
        href="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/pinterest-round-color-icon.png">
    <title>Pinteresting | Gallery Layout</title>
</head>
<!-- A Simple non functional Pinterest inspired page layout created using only HTML and CSS.
       Created by M. Hassler - Hassified -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<body>
    <div class="header">
        <img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/pinterest-round-color-icon.png"
            class="icon pinterest-icon">
        <ul class="navigation">
            <li>Home</li>
            <li>Explore</li>
            <li>Create</li>
        </ul>
        <div class="search-bar">
            <input type="text" placeholder="Search">
            <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
        <div class="nav-icons">
            <img src="https://uxwing.com/wp-content/themes/uxwing/download/communication-chat-call/bell-icon.png"
                class="icon nav-icon">
            <img src="https://uxwing.com/wp-content/themes/uxwing/download/communication-chat-call/speech-bubble-black-icon.png"
                class="icon nav-icon">
            <img src="https://uxwing.com/wp-content/themes/uxwing/download/arrow-direction/angle-bottom-icon.png"
                class="icon nav-icon arrow-icon">
        </div>
    </div>


    <div class="container">




        <div class="box">
            <a
                href="https://images.unsplash.com/photo-1703008264180-fd866b5da732?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                <img src="https://images.unsplash.com/photo-1703008264180-fd866b5da732?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="image"></a>
            <div class="caption">Lorem ipsum </div>
        </div>
        <div class="box">
            <a
                href="https://images.unsplash.com/photo-1703111661162-999b4f057e83?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                <img src="https://images.unsplash.com/photo-1703111661162-999b4f057e83?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="image"></a>
            <div class="caption">Lorem ipsum </div>
        </div>



        <div class="box">
            <a
                href="https://images.unsplash.com/photo-1703237288996-9bb1d3f71a54?q=80&w=2834&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                <img src="https://images.unsplash.com/photo-1703237288996-9bb1d3f71a54?q=80&w=2834&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="image"></a>
            <div class="caption">Lorem ipsum </div>
        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://kit.fontawesome.com/8d185dfe14.js" crossorigin="anonymous"></script>
    <script src="/javascripts/feed.js"></script>
</body>



</html>