<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Profile Page</title>
</head>

<body>
    <div class="containerpro">
        <div class="box">
            <div class="upper-icons">
                <svg color="#696D7A" xmlns="http://www.w3.org/2000/svg" height="25" viewBox="0 0 24 24">
                    <path fill="currentColor" d="m10 18l-6-6l6-6l1.4 1.45L7.85 11H20v2H7.85l3.55 3.55L10 18Z" />
                </svg>
                <a href="#" class="button">Account Setting</a>
            </div>
            <div class="profile-circle">
                <!-- <img src="https://i.pravatar.cc/100" alt=""> -->
                <img src="/images/pro_pic.jpeg" alt="">
            </div>
            <div class="profile-info">
                <h4 class="fullname">
                    <%= user.fullname %>
                </h4>
                <p class="username">@<%= user.username %>
                </p>
                <p class="taglines">Lorem ipsum dolor sit amet.</p>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                <p> Designer & Developer</p>
            </div>
            <a href="/login" class="button">Log Out</a>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="text" name="filecaption" placeholder="Caption">
                <input type="file" name="file">
                <input type="submit" value="Upload">
            </form>
        </div>
    </div>
    <div class="container">
        <div class="cards">
            <% user.posts.forEach(function(post){%>
                <div class="card" style="width: 18rem;">
                    <img src="/images/uploads/<%= post.image%>"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="#" class="card-title"><%= post.postText%></a>
                    </div>
                </div>
            <%}) %>
        </div>
    </div>

    <script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8d185dfe14.js" crossorigin="anonymous"></script>
</body>

</html>